In [161]:
from lxml import html
import requests
import pandas as pd
import numpy as np

In [162]:
page = requests.get('https://coinmarketcap.com/')
tree = html.fromstring(page.content)
names = tree.xpath('//a[@class = "currency-name-container"]/text()')

In [163]:
names[0]

'Bitcoin'

In [164]:
columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap']
df = pd.DataFrame(columns = columns)
df.head()

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, MarketCap]
Index: []

In [165]:
for i in range(0, 75):
    page = requests.get('https://coinmarketcap.com/currencies/' + names[i] + '/historical-data/?start=20170101&end=20171227')
    tree = html.fromstring(page.content)
    dates = tree.xpath('//td[@class = "text-left"]/text()')
    detail = tree.xpath('//td/text()')
    df2 = pd.DataFrame(np.array(detail).reshape(len(dates), 7), columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap'])
    df2['CryptoName'] = names[i]
    df = df.append(df2)
    print(names[i])

Bitcoin
Ethereum
Ripple
Bitcoin Cash
Litecoin
Cardano
IOTA
Dash
NEM
Monero
EOS
Bitcoin Gold
NEO
Stellar
Qtum
Ethereum Classic
Lisk
BitConnect
TRON
Verge
Ardor
Zcash
Hshare
OmiseGO
ICON
BitShares
Nxt
Stratis
Waves
RaiBlocks
Populous
Tether
Bytecoin
Dogecoin
Komodo
Binance Coin
Siacoin
Augur
Steem
Golem
Ark
SALT
PIVX
Veritaseum
MonaCoin
DigiByte
Decred
VeChain
Status
ZCoin
Syscoin
MaidSafeCoin
TenX
Byteball Bytes
Electroneum
ReddCoin
Basic Attenti...
Factom
Bytom
BitcoinDark
DigixDAO
Santiment Net...
Aeternity
Civic
Power Ledger
QASH
Dent
Kyber Network
Aion
0x
Vertcoin
Walton
GameCredits
Substratum
Gas

In [166]:
df.head()

,Close,CryptoName,Date,High,Low,MarketCap,Open,Volume
0,16099.80,Bitcoin,"Dec 26, 2017",16461.20,14028.90,"235,294,000,000",14036.60,"13,454,300,000"
1,14026.60,Bitcoin,"Dec 25, 2017",14593.00,13448.90,"234,590,000,000",13995.90,"10,664,700,000"
2,13925.80,Bitcoin,"Dec 24, 2017",14626.00,12747.70,"244,824,000,000",14608.20,"11,572,300,000"
3,14699.20,Bitcoin,"Dec 23, 2017",15603.20,13828.80,"233,748,000,000",13948.70,"13,086,000,000"
4,13831.80,Bitcoin,"Dec 22, 2017",15943.40,11833.00,"266,381,000,000",15898.00,"22,198,000,000"

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17281 entries, 0 to 173
Data columns (total 7 columns):
Date         17281 non-null object
Open         17281 non-null object
High         17281 non-null object
Low          17281 non-null object
Close        17281 non-null object
Volume       17281 non-null object
MarketCap    17281 non-null object
dtypes: object(7)
memory usage: 1.1+ MB

In [160]:
detail

['Dec 26, 2017',
 '30.38',
 '30.88',
 '26.31',
 '28.38',
 '2,953,240',
 '277,644,000',
 'Dec 25, 2017',
 '28.31',
 '30.40',
 '27.41',
 '30.24',
 '3,397,720',
 '258,666,000',
 'Dec 24, 2017',
 '28.10',
 '28.10',
 '23.44',
 '27.82',
 '1,860,750',
 '256,731,000',
 'Dec 23, 2017',
 '26.88',
 '30.66',
 '26.26',
 '27.81',
 '3,482,600',
 '245,656,000',
 'Dec 22, 2017',
 '32.46',
 '32.79',
 '19.19',
 '26.72',
 '5,866,820',
 '296,587,000',
 'Dec 21, 2017',
 '33.75',
 '36.79',
 '29.78',
 '32.36',
 '7,443,410',
 '290,159,000',
 'Dec 20, 2017',
 '35.53',
 '36.87',
 '30.95',
 '33.58',
 '6,874,270',
 '305,429,000',
 'Dec 19, 2017',
 '39.80',
 '43.70',
 '33.27',
 '35.55',
 '8,670,640',
 '342,170,000',
 'Dec 18, 2017',
 '34.91',
 '47.73',
 '31.76',
 '39.84',
 '19,897,900',
 '300,157,000',
 'Dec 17, 2017',
 '24.05',
 '34.71',
 '23.65',
 '34.71',
 '9,260,290',
 '206,784,000',
 'Dec 16, 2017',
 '24.06',
 '26.07',
 '22.87',
 '23.86',
 '3,484,070',
 '206,811,000',
 'Dec 15, 2017',
 '25.51',
 '26.55',
 '20.93',
 '23.13',
 '3,018,100',
 '219,300,000',
 'Dec 14, 2017',
 '21.83',
 '26.51',
 '21.67',
 '25.16',
 '4,794,140',
 '187,691,000',
 'Dec 13, 2017',
 '19.03',
 '25.88',
 '18.82',
 '21.89',
 '5,000,820',
 '163,619,000',
 'Dec 12, 2017',
 '18.24',
 '19.78',
 '17.15',
 '19.04',
 '2,061,100',
 '156,786,000',
 'Dec 11, 2017',
 '16.85',
 '18.61',
 '16.78',
 '17.89',
 '1,581,190',
 '144,830,000',
 'Dec 10, 2017',
 '18.46',
 '18.46',
 '16.33',
 '16.95',
 '1,742,160',
 '158,673,000',
 'Dec 09, 2017',
 '19.04',
 '19.56',
 '17.62',
 '18.46',
 '1,709,240',
 '163,694,000',
 'Dec 08, 2017',
 '17.35',
 '21.09',
 '15.91',
 '19.06',
 '2,956,780',
 '149,136,000',
 'Dec 07, 2017',
 '18.30',
 '19.10',
 '16.88',
 '17.45',
 '2,739,830',
 '157,324,000',
 'Dec 06, 2017',
 '20.86',
 '20.98',
 '17.76',
 '18.56',
 '2,790,560',
 '179,319,000',
 'Dec 05, 2017',
 '22.10',
 '22.35',
 '20.22',
 '20.93',
 '1,548,160',
 '189,965,000',
 'Dec 04, 2017',
 '19.99',
 '23.24',
 '19.59',
 '21.97',
 '3,095,580',
 '171,865,000',
 'Dec 03, 2017',
 '19.45',
 '21.41',
 '19.19',
 '19.92',
 '1,329,950',
 '167,186,000',
 'Dec 02, 2017',
 '19.31',
 '20.19',
 '18.72',
 '19.70',
 '1,281,170',
 '166,006,000',
 'Dec 01, 2017',
 '18.85',
 '19.88',
 '17.48',
 '19.36',
 '1,182,360',
 '162,040,000',
 'Nov 30, 2017',
 '18.46',
 '20.64',
 '16.59',
 '19.01',
 '1,758,230',
 '158,733,000',
 'Nov 29, 2017',
 '21.66',
 '21.66',
 '17.49',
 '18.19',
 '2,294,410',
 '186,174,000',
 'Nov 28, 2017',
 '22.21',
 '22.81',
 '21.24',
 '21.67',
 '1,704,100',
 '190,917,000',
 'Nov 27, 2017',
 '22.60',
 '23.62',
 '21.46',
 '22.20',
 '1,522,170',
 '194,333,000',
 'Nov 26, 2017',
 '22.19',
 '22.78',
 '21.36',
 '22.64',
 '1,642,730',
 '190,773,000',
 'Nov 25, 2017',
 '20.80',
 '23.20',
 '20.69',
 '22.30',
 '1,932,920',
 '178,784,000',
 'Nov 24, 2017',
 '19.77',
 '21.42',
 '19.50',
 '20.80',
 '1,355,170',
 '169,992,000',
 'Nov 23, 2017',
 '21.20',
 '21.53',
 '19.70',
 '20.00',
 '2,004,120',
 '182,276,000',
 'Nov 22, 2017',
 '21.56',
 '22.22',
 '20.80',
 '21.09',
 '1,413,810',
 '185,339,000',
 'Nov 21, 2017',
 '21.60',
 '23.17',
 '20.53',
 '21.60',
 '1,708,960',
 '185,658,000',
 'Nov 20, 2017',
 '24.19',
 '25.34',
 '21.55',
 '21.55',
 '2,913,620',
 '207,942,000',
 'Nov 19, 2017',
 '27.52',
 '27.98',
 '22.39',
 '24.18',
 '4,531,360',
 '236,566,000',
 'Nov 18, 2017',
 '25.38',
 '31.91',
 '22.98',
 '27.55',
 '8,129,950',
 '218,226,000',
 'Nov 17, 2017',
 '19.41',
 '26.91',
 '18.07',
 '25.59',
 '3,941,120',
 '166,861,000',
 'Nov 16, 2017',
 '22.12',
 '22.12',
 '15.87',
 '19.43',
 '2,586,450',
 '190,150,000',
 'Nov 15, 2017',
 '20.21',
 '22.11',
 '18.91',
 '22.07',
 '2,944,170',
 '173,757,000',
 'Nov 14, 2017',
 '19.75',
 '20.67',
 '19.55',
 '20.25',
 '593,224',
 '169,767,000',
 'Nov 13, 2017',
 '18.79',
 '20.93',
 '18.46',
 '19.74',
 '782,363',
 '161,548,000',
 'Nov 12, 2017',
 '20.00',
 '20.72',
 '17.20',
 '18.95',
 '938,558',
 '171,959,000',
 'Nov 11, 2017',
 '19.98',
 '22.48',
 '19.54',
 '20.10',
 '1,089,910',
 '171,804,000',
 'Nov 10, 2017',
 '23.12',
 '24.14',
 '18.64',
 '19.68',
 '1,107,640',
 '198,735,000',
 'Nov 09, 2017',
 '21.81',
 '26.40',
 '20.91',
 '23.03',
 '2,447,490',
 '187,518,000',
 'Nov 08, 2017',
 '17.85',
 '25.35',
 '17.68',
 '21.92',
 '1,690,730',
 '153,455,000',
 'Nov 07, 2017',
 '17.18',
 '18.22',
 '17.13',
 '18.22',
 '559,894',
 '147,735,000',
 'Nov 06, 2017',
 '16.79',
 '17.88',
 '16.28',
 '17.22',
 '577,160',
 '144,355,000',
 'Nov 05, 2017',
 '17.03',
 '17.49',
 '16.27',
 '16.76',
 '444,008',
 '146,440,000',
 'Nov 04, 2017',
 '17.22',
 '17.77',
 '16.38',
 '17.10',
 '497,484',
 '148,033,000',
 'Nov 03, 2017',
 '15.21',
 '17.95',
 '14.46',
 '17.40',
 '1,076,790',
 '130,789,000',
 'Nov 02, 2017',
 '15.36',
 '17.52',
 '13.06',
 '15.23',
 '1,254,240',
 '132,078,000',
 'Nov 01, 2017',
 '17.50',
 '17.69',
 '15.52',
 '15.77',
 '968,366',
 '150,460,000',
 'Oct 31, 2017',
 '18.86',
 '19.55',
 '16.38',
 '17.63',
 '870,552',
 '162,099,000',
 'Oct 30, 2017',
 '17.93',
 '19.15',
 '17.65',
 '18.78',
 '775,064',
 '154,126,000',
 'Oct 29, 2017',
 '17.43',
 '20.44',
 '17.16',
 '17.98',
 '5,979,020',
 '149,875,000',
 'Oct 28, 2017',
 '19.37',
 '19.66',
 '17.33',
 '17.60',
 '499,082',
 '166,495,000',
 'Oct 27, 2017',
 '18.68',
 '19.37',
 '17.74',
 '19.32',
 '660,990',
 '160,629,000',
 'Oct 26, 2017',
 '19.12',
 '20.24',
 '17.85',
 '18.69',
 '756,739',
 '164,336,000',
 'Oct 25, 2017',
 '20.34',
 '21.17',
 '19.44',
 '19.59',
 '447,244',
 '174,836,000',
 'Oct 24, 2017',
 '19.08',
 '23.19',
 '18.25',
 '20.77',
 '1,644,220',
 '163,999,000',
 'Oct 23, 2017',
 '20.80',
 '21.19',
 '17.00',
 '19.20',
 '942,203',
 '178,828,000',
 'Oct 22, 2017',
 '19.06',
 '21.59',
 '19.06',
 '20.83',
 '504,257',
 '163,831,000',
 'Oct 21, 2017',
 '19.65',
 '20.61',
 '18.15',
 '19.05',
 '477,061',
 '168,964,000',
 'Oct 20, 2017',
 '20.16',
 '20.92',
 '19.61',
 '19.69',
 '610,262',
 '173,286,000',
 'Oct 19, 2017',
 '20.78',
 '21.04',
 '19.61',
 '20.15',
 '1,139,280',
 '178,634,000',
 'Oct 18, 2017',
 '21.89',
 '22.06',
 '19.84',
 '20.70',
 '763,597',
 '188,227,000',
 'Oct 17, 2017',
 '21.93',
 '23.25',
 '20.60',
 '21.93',
 '1,080,370',
 '188,520,000',
 'Oct 16, 2017',
 '22.07',
 '23.11',
 '20.44',
 '21.92',
 '775,565',
 '189,560,000',
 'Oct 15, 2017',
 '22.89',
 '22.93',
 '20.13',
 '22.06',
 '573,523',
 '196,484,000',
 'Oct 14, 2017',
 '24.32',
 '25.25',
 '22.01',
 '22.95',
 '633,763',
 '208,542,000',
 'Oct 13, 2017',
 '20.93',
 '25.65',
 '18.68',
 '24.83',
 '1,497,290',
 '179,379,000',
 'Oct 12, 2017',
 '22.93',
 '24.16',
 '20.51',
 '20.78',
 '1,283,980',
 '196,441,000',
 'Oct 11, 2017',
 '23.26',
 '25.43',
 '22.49',
 '22.91',
 '868,526',
 '199,117,000',
 'Oct 10, 2017',
 '22.78',
 '23.52',
 '20.59',
 '23.52',
 '1,146,210',
 '194,891,000',
 'Oct 09, 2017',
 '23.50',
 '23.99',
 '21.02',
 '23.04',
 '1,015,350',
 '200,919,000',
 'Oct 08, 2017',
 '28.03',
 '28.40',
 '23.04',
 '23.50',
 '1,458,980',
 '239,412,000',
 'Oct 07, 2017',
 '27.93',
 '28.12',
 '25.02',
 '28.12',
 '1,659,250',
 '238,213,000',
 'Oct 06, 2017',
 '29.43',
 '29.67',
 '27.80',
 '27.92',
 '1,111,600',
 '250,864,000',
 'Oct 05, 2017',
 '29.00',
 '30.74',
 '25.94',
 '29.31',
 '1,646,560',
 '247,107,000',
 'Oct 04, 2017',
 '27.45',
 '30.24',
 '25.55',
 '29.03',
 '2,116,770',
 '233,646,000',
 'Oct 03, 2017',
 '31.68',
 '33.92',
 '27.14',
 '27.44',
 '2,837,580',
 '269,499,000',
 'Oct 02, 2017',
 '30.20',
 '32.46',
 '29.05',
 '31.68',
 '3,103,540',
 '256,756,000',
 'Oct 01, 2017',
 '30.97',
 '32.58',
 '27.72',
 '30.23',
 '4,221,780',
 '263,139,000',
 'Sep 30, 2017',
 '22.05',
 '33.27',
 '22.04',
 '30.20',
 '3,776,920',
 '187,292,000',
 'Sep 29, 2017',
 '22.88',
 '23.26',
 '21.23',
 '22.10',
 '896,609',
 '194,224,000',
 'Sep 28, 2017',
 '26.37',
 '26.51',
 '21.67',
 '23.08',
 '2,105,510',
 '223,695,000',
 'Sep 27, 2017',
 '25.39',
 '27.04',
 '23.86',
 '26.21',
 '2,502,100',
 '215,121,000',
 'Sep 26, 2017',
 '25.99',
 '26.59',
 '22.36',
 '25.47',
 '4,695,480',
 '219,811,000',
 'Sep 25, 2017',
 '15.22',
 '26.23',
 '15.22',
 '26.23',
 '5,034,440',
 '128,583,000',
 'Sep 24, 2017',
 '16.49',
 '16.74',
 '14.15',
 '15.23',
 '768,093',
 '139,272,000',
 'Sep 23, 2017',
 '15.13',
 '16.97',
 '14.86',
 '16.49',
 '1,800,130',
 '127,684,000',
 'Sep 22, 2017',
 '10.85',
 '17.38',
 '10.85',
 '15.29',
 '5,282,920',
 '91,411,900',
 'Sep 21, 2017',
 '8.95',
 '12.08',
 '7.76',
 '10.93',
 '746,725',
 '75,321,800',
 'Sep 20, 2017',
 '9.24',
 '9.77',
 '8.92',
 '8.99',
 '117,765',
 '77,781,900',
 'Sep 19, 2017',
 '10.85',
 '11.21',
 '9.02',
 '9.39',
 '290,436',
 '91,206,700',
 'Sep 18, 2017',
 '9.78',
 '11.11',
 '9.54',
 '10.82',
 '322,222',
 '82,125,000',
 'Sep 17, 2017',
 '10.40',
 '10.43',
 '9.30',
 '10.02',
 '198,174',
 '87,305,000',
 'Sep 16, 2017',
 '11.71',
 '12.66',
 '10.03',
 '10.41',
 '394,659',
 '98,222,100',
 'Sep 15, 2017',
 '10.88',
 '12.64',
 '8.91',
 '11.76',
 '1,171,590',
 '91,185,900',
 'Sep 14, 2017',
 '9.38',
 '16.13',
 '7.03',
 '10.92',
 '1,634,110',
 '78,487,100',
 'Sep 13, 2017',
 '9.67',
 '10.16',
 '8.05',
 '9.37',
 '147,360',
 '80,847,000',
 'Sep 12, 2017',
 '10.78',
 '11.97',
 '9.61',
 '9.90',
 '247,913',
 '90,143,000',
 'Sep 11, 2017',
 '10.88',
 '11.71',
 '10.23',
 '10.79',
 '185,764',
 '90,897,800',
 'Sep 10, 2017',
 '11.41',
 '11.61',
 '9.50',
 '10.53',
 '225,618',
 '95,244,300',
 'Sep 09, 2017',
 '11.28',
 '11.74',
 '9.88',
 '11.41',
 '521,416',
 '94,079,500',
 'Sep 08, 2017',
 '15.64',
 '15.89',
 '10.45',
 '11.26',
 '518,904',
 '130,343,000',
 'Sep 07, 2017',
 '8.74',
 '16.38',
 '8.65',
 '15.11',
 '994,037',
 '72,799,900',
 'Sep 06, 2017',
 '11.05',
 '11.61',
 '8.27',
 '8.89',
 '378,789',
 '91,918,500',
 'Sep 05, 2017',
 '10.25',
 '11.81',
 '7.76',
 '11.08',
 '656,651',
 '85,168,200',
 'Sep 04, 2017',
 '12.33',
 '13.64',
 '5.99',
 '10.15',
 '960,225',
 '102,293,000',
 'Sep 03, 2017',
 '14.35',
 '14.97',
 '11.96',
 '12.99',
 '503,554',
 '118,953,000',
 'Sep 02, 2017',
 '14.94',
 '17.35',
 '14.04',
 '14.34',
 '619,252',
 '123,805,000',
 'Sep 01, 2017',
 '16.91',
 '17.81',
 '14.89',
 '15.07',
 '534,726',
 '140,014,000',
 'Aug 31, 2017',
 '19.99',
 '20.24',
 '15.72',
 '16.95',
 '642,261',
 '165,474,000',
 'Aug 30, 2017',
 '18.48',
 '21.94',
 '15.74',
 '20.02',
 '926,704',
 '152,831,000',
 'Aug 29, 2017',
 '19.77',
 '24.87',
 '17.84',
 '18.49',
 '939,405',
 '163,397,000',
 'Aug 28, 2017',
 '19.33',
 '20.74',
 '18.55',
 '19.76',
 '626,972',
 '159,665,000',
 'Aug 27, 2017',
 '21.50',
 '21.91',
 '18.29',
 '19.31',
 '704,800',
 '177,575,000',
 'Aug 26, 2017',
 '23.08',
 '23.95',
 '19.35',
 '21.51',
 '712,479',
 '190,511,000',
 'Aug 25, 2017',
 '24.87',
 '25.43',
 '22.00',
 '23.05',
 '936,671',
 '205,126,000',
 'Aug 24, 2017',
 '24.70',
 '26.39',
 '23.29',
 '25.07',
 '1,052,500',
 '203,496,000',
 'Aug 23, 2017',
 '24.25',
 '28.01',
 '21.71',
 '24.67',
 '1,339,760',
 '70,981,000',
 'Aug 22, 2017',
 '25.51',
 '27.61',
 '21.02',
 '24.46',
 '1,721,320',
 '74,664,600',
 'Aug 21, 2017',
 '29.47',
 '30.07',
 '23.01',
 '25.15',
 '1,605,980',
 '86,281,500',
 'Aug 20, 2017',
 '32.69',
 '32.69',
 '28.57',
 '29.56',
 '1,522,630',
 '95,695,200',
 'Aug 19, 2017',
 '29.25',
 '32.88',
 '28.40',
 '32.75',
 '2,329,640',
 '85,618,100',
 'Aug 18, 2017',
 '32.11',
 '32.43',
 '21.88',
 '27.69',
 '3,120,270',
 '93,985,500',
 'Aug 17, 2017',
 '36.01',
 '36.85',
 '30.35',
 '32.31',
 '3,337,770',
 '105,426,000',
 'Aug 16, 2017',
 '32.62',
 '37.43',
 '31.50',
 '36.98',
 '4,410,840',
 '95,474,300',
 'Aug 15, 2017',
 '34.01',
 '36.30',
 '28.24',
 '32.91',
 '6,518,010',
 '99,548,600',
 'Aug 14, 2017',
 '27.57',
 '39.08',
 '21.01',
 '34.91',
 '8,351,290',
 '80,705,800',
 'Aug 13, 2017',
 '17.00',
 '28.08',
 '15.67',
 '27.72',
 '5,659,100',
 '49,761,400',
 'Aug 12, 2017',
 '17.65',
 '18.12',
 '12.43',
 '16.96',
 '2,861,160',
 '51,673,400',
 'Aug 11, 2017',
 '20.63',
 '21.54',
 '14.74',
 '17.07',
 '3,564,800',
 '60,388,200',
 'Aug 10, 2017',
 '24.18',
 '26.24',
 '15.44',
 '19.97',
 '8,774,840',
 '70,786,700',
 'Aug 09, 2017',
 '10.55',
 '26.96',
 '10.21',
 '22.32',
 '12,738,800',
 '30,882,000',
 'Aug 08, 2017',
 '7.92',
 '10.54',
 '7.79',
 '10.54',
 '2,261,940',
 '23,194,300',
 'Aug 07, 2017',
 '4.18',
 '7.95',
 '3.85',
 '7.91',
 '1,017,640',
 '12,222,900',
 'Aug 06, 2017',
 '3.64',
 '4.33',
 '3.51',
 '4.17',
 '395,513',
 ...]

In [141]:
df.to_csv('output.csv')

In [129]:
page = requests.get('https://coinmarketcap.com/currencies/DentaCoin/historical-data/?start=20170101&end=20171227')
page

In [130]:
tree = html.fromstring(page.content)
tree

In [131]:
dates = tree.xpath('//td[@class = "text-left"]/text()')
dates

['Dec 26, 2017',
 'Dec 25, 2017',
 'Dec 24, 2017',
 'Dec 23, 2017',
 'Dec 22, 2017',
 'Dec 21, 2017',
 'Dec 20, 2017',
 'Dec 19, 2017',
 'Dec 18, 2017',
 'Dec 17, 2017',
 'Dec 16, 2017',
 'Dec 15, 2017',
 'Dec 14, 2017',
 'Dec 13, 2017',
 'Dec 12, 2017',
 'Dec 11, 2017',
 'Dec 10, 2017',
 'Dec 09, 2017',
 'Dec 08, 2017',
 'Dec 07, 2017',
 'Dec 06, 2017',
 'Dec 05, 2017',
 'Dec 04, 2017',
 'Dec 03, 2017',
 'Dec 02, 2017',
 'Dec 01, 2017',
 'Nov 30, 2017',
 'Nov 29, 2017',
 'Nov 28, 2017',
 'Nov 27, 2017',
 'Nov 26, 2017',
 'Nov 25, 2017',
 'Nov 24, 2017',
 'Nov 23, 2017',
 'Nov 22, 2017',
 'Nov 21, 2017',
 'Nov 20, 2017',
 'Nov 19, 2017',
 'Nov 18, 2017',
 'Nov 17, 2017',
 'Nov 16, 2017',
 'Nov 15, 2017',
 'Nov 14, 2017',
 'Nov 13, 2017',
 'Nov 12, 2017',
 'Nov 11, 2017',
 'Nov 10, 2017',
 'Nov 09, 2017',
 'Nov 08, 2017',
 'Nov 07, 2017',
 'Nov 06, 2017',
 'Nov 05, 2017',
 'Nov 04, 2017',
 'Nov 03, 2017',
 'Nov 02, 2017',
 'Nov 01, 2017',
 'Oct 31, 2017',
 'Oct 30, 2017',
 'Oct 29, 2017',
 'Oct 28, 2017',
 'Oct 27, 2017',
 'Oct 26, 2017',
 'Oct 25, 2017',
 'Oct 24, 2017',
 'Oct 23, 2017',
 'Oct 22, 2017',
 'Oct 21, 2017',
 'Oct 20, 2017',
 'Oct 19, 2017',
 'Oct 18, 2017',
 'Oct 17, 2017',
 'Oct 16, 2017',
 'Oct 15, 2017',
 'Oct 14, 2017',
 'Oct 13, 2017',
 'Oct 12, 2017',
 'Oct 11, 2017',
 'Oct 10, 2017',
 'Oct 09, 2017',
 'Oct 08, 2017',
 'Oct 07, 2017',
 'Oct 06, 2017',
 'Oct 05, 2017',
 'Oct 04, 2017',
 'Oct 03, 2017',
 'Oct 02, 2017',
 'Oct 01, 2017',
 'Sep 30, 2017',
 'Sep 29, 2017',
 'Sep 28, 2017',
 'Sep 27, 2017',
 'Sep 26, 2017',
 'Sep 25, 2017',
 'Sep 24, 2017',
 'Sep 23, 2017',
 'Sep 22, 2017',
 'Sep 21, 2017',
 'Sep 20, 2017',
 'Sep 19, 2017',
 'Sep 18, 2017',
 'Sep 17, 2017',
 'Sep 16, 2017',
 'Sep 15, 2017',
 'Sep 14, 2017',
 'Sep 13, 2017',
 'Sep 12, 2017',
 'Sep 11, 2017',
 'Sep 10, 2017',
 'Sep 09, 2017',
 'Sep 08, 2017',
 'Sep 07, 2017',
 'Sep 06, 2017',
 'Sep 05, 2017',
 'Sep 04, 2017',
 'Sep 03, 2017',
 'Sep 02, 2017',
 'Sep 01, 2017',
 'Aug 31, 2017',
 'Aug 30, 2017',
 'Aug 29, 2017',
 'Aug 28, 2017',
 'Aug 27, 2017',
 'Aug 26, 2017',
 'Aug 25, 2017',
 'Aug 24, 2017',
 'Aug 23, 2017',
 'Aug 22, 2017',
 'Aug 21, 2017',
 'Aug 20, 2017',
 'Aug 19, 2017',
 'Aug 18, 2017',
 'Aug 17, 2017',
 'Aug 16, 2017',
 'Aug 15, 2017',
 'Aug 14, 2017',
 'Aug 13, 2017',
 'Aug 12, 2017',
 'Aug 11, 2017']

In [132]:
detail = tree.xpath('//td/text()')
detail

['Dec 26, 2017',
 '0.000279',
 '0.000850',
 '0.000273',
 '0.000726',
 '3,774,460',
 '90,625,200',
 'Dec 25, 2017',
 '0.000173',
 '0.000283',
 '0.000173',
 '0.000279',
 '468,315',
 '56,187,600',
 'Dec 24, 2017',
 '0.000163',
 '0.000181',
 '0.000140',
 '0.000170',
 '104,554',
 '52,850,600',
 'Dec 23, 2017',
 '0.000138',
 '0.000187',
 '0.000138',
 '0.000163',
 '122,912',
 '44,988,600',
 'Dec 22, 2017',
 '0.000162',
 '0.000198',
 '0.000118',
 '0.000145',
 '132,949',
 '52,658,300',
 'Dec 21, 2017',
 '0.000153',
 '0.000195',
 '0.000153',
 '0.000162',
 '177,988',
 '49,677,800',
 'Dec 20, 2017',
 '0.000198',
 '0.000198',
 '0.000145',
 '0.000153',
 '141,191',
 '64,298,000',
 'Dec 19, 2017',
 '0.000152',
 '0.000219',
 '0.000152',
 '0.000198',
 '374,087',
 '49,430,900',
 'Dec 18, 2017',
 '0.000090',
 '0.000207',
 '0.000083',
 '0.000161',
 '266,295',
 '29,249,200',
 'Dec 17, 2017',
 '0.000092',
 '0.000101',
 '0.000076',
 '0.000089',
 '152,490',
 '30,034,100',
 'Dec 16, 2017',
 '0.000126',
 '0.000130',
 '0.000081',
 '0.000090',
 '49,701',
 '40,819,700',
 'Dec 15, 2017',
 '0.000146',
 '0.000154',
 '0.000087',
 '0.000125',
 '52,916',
 '47,559,000',
 'Dec 14, 2017',
 '0.000110',
 '0.000151',
 '0.000104',
 '0.000146',
 '121,131',
 '35,627,200',
 'Dec 13, 2017',
 '0.000134',
 '0.000155',
 '0.000100',
 '0.000110',
 '45,628',
 '43,669,400',
 'Dec 12, 2017',
 '0.000093',
 '0.000139',
 '0.000080',
 '0.000134',
 '127,492',
 '30,385,500',
 'Dec 11, 2017',
 '0.000075',
 '0.000094',
 '0.000062',
 '0.000083',
 '23,853',
 '24,415,700',
 'Dec 10, 2017',
 '0.000087',
 '0.000090',
 '0.000064',
 '0.000076',
 '28,612',
 '28,356,000',
 'Dec 09, 2017',
 '0.000103',
 '0.000105',
 '0.000079',
 '0.000085',
 '15,137',
 '33,477,700',
 'Dec 08, 2017',
 '0.000109',
 '0.000111',
 '0.000083',
 '0.000102',
 '25,012',
 '35,371,300',
 'Dec 07, 2017',
 '0.000070',
 '0.000109',
 '0.000069',
 '0.000109',
 '65,755',
 '22,643,200',
 'Dec 06, 2017',
 '0.000073',
 '0.000077',
 '0.000063',
 '0.000070',
 '35,523',
 '23,627,900',
 'Dec 05, 2017',
 '0.000066',
 '0.000081',
 '0.000056',
 '0.000072',
 '26,049',
 '21,351,200',
 'Dec 04, 2017',
 '0.000072',
 '0.000080',
 '0.000062',
 '0.000066',
 '23,717',
 '23,348,900',
 'Dec 03, 2017',
 '0.000077',
 '0.000082',
 '0.000061',
 '0.000072',
 '25,235',
 '25,144,100',
 'Dec 02, 2017',
 '0.000071',
 '0.000091',
 '0.000070',
 '0.000077',
 '22,730',
 '23,148,100',
 'Dec 01, 2017',
 '0.000065',
 '0.000078',
 '0.000062',
 '0.000071',
 '7,376',
 '21,111,800',
 'Nov 30, 2017',
 '0.000062',
 '0.000068',
 '0.000051',
 '0.000065',
 '12,433',
 '20,212,000',
 'Nov 29, 2017',
 '0.000072',
 '0.000075',
 '0.000051',
 '0.000060',
 '19,596',
 '23,311,000',
 'Nov 28, 2017',
 '0.000073',
 '0.000079',
 '0.000066',
 '0.000072',
 '11,381',
 '23,732,400',
 'Nov 27, 2017',
 '0.000073',
 '0.000079',
 '0.000067',
 '0.000073',
 '8,789',
 '23,814,200',
 'Nov 26, 2017',
 '0.000066',
 '0.000085',
 '0.000051',
 '0.000073',
 '47,434',
 '21,294,100',
 'Nov 25, 2017',
 '0.000069',
 '0.000077',
 '0.000059',
 '0.000066',
 '23,054',
 '22,324,500',
 'Nov 24, 2017',
 '0.000071',
 '0.000077',
 '0.000068',
 '0.000069',
 '24,039',
 '22,896,300',
 'Nov 23, 2017',
 '0.000076',
 '0.000082',
 '0.000067',
 '0.000071',
 '15,309',
 '24,540,400',
 'Nov 22, 2017',
 '0.000077',
 '0.000080',
 '0.000067',
 '0.000076',
 '19,395',
 '24,815,100',
 'Nov 21, 2017',
 '0.000076',
 '0.000079',
 '0.000070',
 '0.000077',
 '23,477',
 '24,502,800',
 'Nov 20, 2017',
 '0.000123',
 '0.000134',
 '0.000072',
 '0.000076',
 '30,222',
 '39,724,400',
 'Nov 19, 2017',
 '0.000132',
 '0.000132',
 '0.000074',
 '0.000123',
 '43,911',
 '42,810,900',
 'Nov 18, 2017',
 '0.000128',
 '0.000134',
 '0.000074',
 '0.000133',
 '35,570',
 '41,329,200',
 'Nov 17, 2017',
 '0.000126',
 '0.000141',
 '0.000076',
 '0.000128',
 '32,654',
 '40,774,700',
 'Nov 16, 2017',
 '0.000078',
 '0.000139',
 '0.000071',
 '0.000082',
 '63,700',
 '25,300,100',
 'Nov 15, 2017',
 '0.000094',
 '0.000139',
 '0.000066',
 '0.000139',
 '199,254',
 '30,284,400',
 'Nov 14, 2017',
 '0.000118',
 '0.000123',
 '0.000069',
 '0.000093',
 '53,352',
 '38,070,500',
 'Nov 13, 2017',
 '0.000116',
 '0.000124',
 '0.000064',
 '0.000118',
 '114,303',
 '37,480,400',
 'Nov 12, 2017',
 '0.000124',
 '0.000127',
 '0.000059',
 '0.000116',
 '327,528',
 '40,248,100',
 'Nov 11, 2017',
 '0.000124',
 '0.000133',
 '0.000074',
 '0.000124',
 '137,586',
 '40,160,900',
 'Nov 10, 2017',
 '0.000139',
 '0.000143',
 '0.000078',
 '0.000125',
 '136,393',
 '45,010,500',
 'Nov 09, 2017',
 '0.000140',
 '0.000141',
 '0.000078',
 '0.000136',
 '266,003',
 '45,138,500',
 'Nov 08, 2017',
 '0.000105',
 '0.000141',
 '0.000078',
 '0.000140',
 '33,120',
 '34,032,800',
 'Nov 07, 2017',
 '0.000124',
 '0.000128',
 '0.000088',
 '0.000105',
 '22,795',
 '40,184,400',
 'Nov 06, 2017',
 '0.000137',
 '0.000139',
 '0.000080',
 '0.000124',
 '16,331',
 '44,366,800',
 'Nov 05, 2017',
 '0.000089',
 '0.000138',
 '0.000089',
 '0.000137',
 '17,066',
 '28,852,000',
 'Nov 04, 2017',
 '0.000131',
 '0.000135',
 '0.000085',
 '0.000089',
 '11,587',
 '42,258,500',
 'Nov 03, 2017',
 '0.000126',
 '0.000140',
 '0.000107',
 '0.000131',
 '9,827',
 '40,777,300',
 'Nov 02, 2017',
 '0.000120',
 '0.000150',
 '0.000108',
 '0.000126',
 '18,410',
 '36,354,200',
 'Nov 01, 2017',
 '0.000140',
 '0.000153',
 '0.000114',
 '0.000129',
 '145,855',
 '42,513,700',
 'Oct 31, 2017',
 '0.000159',
 '0.000160',
 '0.000112',
 '0.000125',
 '112,180',
 '48,330,600',
 'Oct 30, 2017',
 '0.000123',
 '0.000161',
 '0.000109',
 '0.000160',
 '89,663',
 '37,200,700',
 'Oct 29, 2017',
 '0.000116',
 '0.000166',
 '0.000106',
 '0.000123',
 '43,600',
 '35,037,100',
 'Oct 28, 2017',
 '0.000124',
 '0.000161',
 '0.000107',
 '0.000116',
 '25,348',
 '37,694,200',
 'Oct 27, 2017',
 '0.000155',
 '0.000155',
 '0.000103',
 '0.000124',
 '29,570',
 '46,907,500',
 'Oct 26, 2017',
 '0.000170',
 '0.000183',
 '0.000119',
 '0.000155',
 '22,198',
 '51,642,300',
 'Oct 25, 2017',
 '0.000139',
 '0.000187',
 '0.000110',
 '0.000170',
 '61,977',
 '42,081,000',
 'Oct 24, 2017',
 '0.000116',
 '0.000156',
 '0.000112',
 '0.000139',
 '31,154',
 '35,087,800',
 'Oct 23, 2017',
 '0.000119',
 '0.000157',
 '0.000093',
 '0.000116',
 '31,572',
 '36,017,600',
 'Oct 22, 2017',
 '0.000119',
 '0.000147',
 '0.000085',
 '0.000119',
 '20,763',
 '36,173,200',
 'Oct 21, 2017',
 '0.000155',
 '0.000170',
 '0.000096',
 '0.000119',
 '19,628',
 '46,885,100',
 'Oct 20, 2017',
 '0.000120',
 '0.000171',
 '0.000114',
 '0.000155',
 '23,027',
 '36,249,100',
 'Oct 19, 2017',
 '0.000160',
 '0.000160',
 '0.000113',
 '0.000120',
 '17,890',
 '48,404,200',
 'Oct 18, 2017',
 '0.000116',
 '0.000162',
 '0.000091',
 '0.000160',
 '35,525',
 '35,213,600',
 'Oct 17, 2017',
 '0.000108',
 '0.000162',
 '0.000108',
 '0.000116',
 '15,890',
 '32,695,000',
 'Oct 16, 2017',
 '0.000114',
 '0.000159',
 '0.000086',
 '0.000144',
 '34,890',
 '34,569,300',
 'Oct 15, 2017',
 '0.000136',
 '0.000160',
 '0.000095',
 '0.000114',
 '51,864',
 '41,310,800',
 'Oct 14, 2017',
 '0.000155',
 '0.000158',
 '0.000115',
 '0.000136',
 '20,889',
 '47,110,200',
 'Oct 13, 2017',
 '0.000152',
 '0.000165',
 '0.000109',
 '0.000155',
 '40,053',
 '46,077,000',
 'Oct 12, 2017',
 '0.000131',
 '0.000152',
 '0.000102',
 '0.000152',
 '26,684',
 '39,610,000',
 'Oct 11, 2017',
 '0.000128',
 '0.000135',
 '0.000099',
 '0.000129',
 '17,469',
 '38,943,400',
 'Oct 10, 2017',
 '0.000111',
 '0.000140',
 '0.000104',
 '0.000128',
 '25,653',
 '33,687,700',
 'Oct 09, 2017',
 '0.000117',
 '0.000134',
 '0.000099',
 '0.000115',
 '18,175',
 '35,386,500',
 'Oct 08, 2017',
 '0.000114',
 '0.000134',
 '0.000101',
 '0.000119',
 '20,922',
 '34,580,200',
 'Oct 07, 2017',
 '0.000109',
 '0.000123',
 '0.000104',
 '0.000114',
 '26,158',
 '33,065,800',
 'Oct 06, 2017',
 '0.000118',
 '0.000125',
 '0.000100',
 '0.000109',
 '21,471',
 '35,749,400',
 'Oct 05, 2017',
 '0.000125',
 '0.000126',
 '0.000097',
 '0.000118',
 '44,842',
 '37,953,500',
 'Oct 04, 2017',
 '0.000123',
 '0.000127',
 '0.000096',
 '0.000125',
 '32,872',
 '37,190,200',
 'Oct 03, 2017',
 '0.000124',
 '0.000130',
 '0.000097',
 '0.000122',
 '32,745',
 '37,524,200',
 'Oct 02, 2017',
 '0.000129',
 '0.000132',
 '0.000093',
 '0.000120',
 '135,249',
 '39,017,800',
 'Oct 01, 2017',
 '0.000214',
 '0.000221',
 '0.000091',
 '0.000129',
 '324,234',
 '64,775,200',
 'Sep 30, 2017',
 '0.000219',
 '0.000222',
 '0.000150',
 '0.000212',
 '103,722',
 '66,478,200',
 'Sep 29, 2017',
 '0.000197',
 '0.000220',
 '0.000171',
 '0.000196',
 '45,759',
 '59,703,200',
 'Sep 28, 2017',
 '0.000175',
 '0.000213',
 '0.000167',
 '0.000197',
 '65,120',
 '52,985,800',
 'Sep 27, 2017',
 '0.000194',
 '0.000202',
 '0.000127',
 '0.000175',
 '91,490',
 '58,868,000',
 'Sep 26, 2017',
 '0.000168',
 '0.000199',
 '0.000128',
 '0.000195',
 '82,625',
 '50,969,900',
 'Sep 25, 2017',
 '0.000232',
 '0.000244',
 '0.000140',
 '0.000168',
 '98,144',
 '70,429,600',
 'Sep 24, 2017',
 '0.000313',
 '0.000356',
 '0.000198',
 '0.000209',
 '26,773',
 '94,728,100',
 'Sep 23, 2017',
 '0.000226',
 '0.000361',
 '0.000226',
 '0.000313',
 '89,905',
 '68,466,800',
 'Sep 22, 2017',
 '0.000299',
 '0.000302',
 '0.000215',
 '0.000227',
 '86,484',
 '90,755,400',
 'Sep 21, 2017',
 '0.000216',
 '0.000300',
 '0.000174',
 '0.000300',
 '160,622',
 '65,435,600',
 'Sep 20, 2017',
 '0.000155',
 '0.000260',
 '0.000120',
 '0.000223',
 '53,830',
 '2,512,480',
 'Sep 19, 2017',
 '0.000169',
 '0.000170',
 '0.000120',
 '0.000156',
 '10,948',
 '2,728,840',
 'Sep 18, 2017',
 '0.000115',
 '0.000176',
 '0.000115',
 '0.000168',
 '7,409',
 '1,867,290',
 'Sep 17, 2017',
 '0.000142',
 '0.000151',
 '0.000113',
 '0.000116',
 '6,609',
 '2,303,560',
 'Sep 16, 2017',
 '0.000155',
 '0.000164',
 '0.000123',
 '0.000142',
 '2,475',
 '2,513,250',
 'Sep 15, 2017',
 '0.000115',
 '0.000161',
 '0.000109',
 '0.000154',
 '8,178',
 '1,852,960',
 'Sep 14, 2017',
 '0.000150',
 '0.000172',
 '0.000114',
 '0.000114',
 '11,978',
 '2,423,780',
 'Sep 13, 2017',
 '0.000166',
 '0.000166',
 '0.000119',
 '0.000150',
 '9,177',
 '2,684,830',
 'Sep 12, 2017',
 '0.000169',
 '0.000192',
 '0.000130',
 '0.000166',
 '36,579',
 '2,734,900',
 'Sep 11, 2017',
 '0.000171',
 '0.000187',
 '0.000129',
 '0.000169',
 '15,916',
 '2,758,360',
 'Sep 10, 2017',
 '0.000172',
 '0.000174',
 '0.000128',
 '0.000170',
 '7,503',
 '2,781,120',
 'Sep 09, 2017',
 '0.000166',
 '0.000180',
 '0.000136',
 '0.000172',
 '11,563',
 '2,689,910',
 'Sep 08, 2017',
 '0.000186',
 '0.000186',
 '0.000141',
 '0.000166',
 '9,175',
 '3,006,300',
 'Sep 07, 2017',
 '0.000187',
 '0.000210',
 '0.000139',
 '0.000186',
 '9,944',
 '3,030,630',
 'Sep 06, 2017',
 '0.000154',
 '0.000200',
 '0.000148',
 '0.000187',
 '8,373',
 '2,496,620',
 'Sep 05, 2017',
 '0.000171',
 '0.000229',
 '0.000114',
 '0.000156',
 '21,446',
 '2,766,880',
 'Sep 04, 2017',
 '0.000139',
 '0.000183',
 '0.000126',
 '0.000172',
 '17,997',
 '2,251,860',
 'Sep 03, 2017',
 '0.000184',
 '0.000189',
 '0.000136',
 '0.000139',
 '3,459',
 '2,980,470',
 'Sep 02, 2017',
 '0.000149',
 '0.000185',
 '0.000092',
 '0.000184',
 '12,563',
 '2,403,100',
 'Sep 01, 2017',
 '0.000190',
 '0.000199',
 '0.000099',
 '0.000148',
 '7,118',
 '3,066,820',
 'Aug 31, 2017',
 '0.000183',
 '0.000191',
 '0.000143',
 '0.000190',
 '59,607',
 '2,962,370',
 'Aug 30, 2017',
 '0.000184',
 '0.000186',
 '0.000135',
 '0.000183',
 '26,210',
 '2,972,570',
 'Aug 29, 2017',
 '0.000140',
 '0.000185',
 '0.000133',
 '0.000184',
 '12,541',
 '2,268,800',
 'Aug 28, 2017',
 '0.000173',
 '0.000179',
 '0.000127',
 '0.000140',
 '4,010',
 '2,797,170',
 'Aug 27, 2017',
 '0.000131',
 '0.000176',
 '0.000130',
 '0.000131',
 '8,044',
 '2,111,940',
 'Aug 26, 2017',
 '0.000174',
 '0.000175',
 '0.000129',
 '0.000174',
 '24,584',
 '2,819,210',
 'Aug 25, 2017',
 '0.000214',
 '0.000217',
 '0.000134',
 '0.000174',
 '5,801',
 '3,462,770',
 'Aug 24, 2017',
 '0.000166',
 '0.000216',
 '0.000138',
 '0.000214',
 '7,248',
 '2,680,030',
 'Aug 23, 2017',
 '0.000163',
 '0.000203',
 '0.000123',
 '0.000165',
 '11,487',
 '2,637,870',
 'Aug 22, 2017',
 '0.000157',
 '0.000165',
 '0.000117',
 '0.000163',
 '6,335',
 '2,546,070',
 'Aug 21, 2017',
 '0.000166',
 '0.000167',
 '0.000115',
 '0.000157',
 '12,465',
 '2,685,990',
 'Aug 20, 2017',
 '0.000207',
 '0.000208',
 '0.000133',
 '0.000167',
 '9,565',
 '3,352,990',
 'Aug 19, 2017',
 '0.000165',
 '0.000209',
 '0.000124',
 '0.000208',
 '25,437',
 '2,665,550',
 'Aug 18, 2017',
 '0.000173',
 '0.000218',
 '0.000120',
 '0.000165',
 '16,667',
 '2,794,510',
 'Aug 17, 2017',
 '0.000219',
 '0.000269',
 '0.000170',
 '0.000173',
 '17,735',
 '3,549,750',
 'Aug 16, 2017',
 '0.000166',
 '0.000261',
 '0.000160',
 '0.000220',
 '30,299',
 '2,690,770',
 'Aug 15, 2017',
 '0.000216',
 '0.000248',
 '0.000158',
 '0.000166',
 '16,103',
 '3,502,080',
 'Aug 14, 2017',
 '0.000164',
 '0.000216',
 '0.000161',
 '0.000216',
 '25,410',
 '2,658,240',
 'Aug 13, 2017',
 '0.000234',
 '0.000276',
 '0.000161',
 '0.000165',
 '24,832',
 '3,781,050',
 'Aug 12, 2017',
 '0.000475',
 '0.000479',
 '0.000229',
 '0.000234',
 '77,384',
 '7,677,650',
 'Aug 11, 2017',
 '0.000307',
 '0.001011',
 '0.000250',
 '0.000475',
 '228,296',
 '4,964,020']

In [133]:
df.append(pd.DataFrame(np.array(detail).reshape(len(dates), 7), columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'MarketCap']))

,Date,Open,High,Low,Close,Volume,MarketCap
0,"Dec 26, 2017",14036.60,16461.20,14028.90,16099.80,"13,454,300,000","235,294,000,000"
1,"Dec 25, 2017",13995.90,14593.00,13448.90,14026.60,"10,664,700,000","234,590,000,000"
2,"Dec 24, 2017",14608.20,14626.00,12747.70,13925.80,"11,572,300,000","244,824,000,000"
3,"Dec 23, 2017",13948.70,15603.20,13828.80,14699.20,"13,086,000,000","233,748,000,000"
4,"Dec 22, 2017",15898.00,15943.40,11833.00,13831.80,"22,198,000,000","266,381,000,000"
5,"Dec 21, 2017",16642.40,17567.70,15342.70,15802.90,"16,516,600,000","278,827,000,000"
6,"Dec 20, 2017",17760.30,17934.70,16077.70,16624.60,"22,149,700,000","297,526,000,000"
7,"Dec 19, 2017",19118.30,19177.80,17275.40,17776.70,"16,894,500,000","320,242,000,000"
8,"Dec 18, 2017",19106.40,19371.00,18355.90,19114.20,"14,839,500,000","320,000,000,000"
9,"Dec 17, 2017",19475.80,20089.00,18974.10,19140.80,"13,314,600,000","326,141,000,000"
10,"Dec 16, 2017",17760.30,19716.70,17515.30,19497.40,"12,740,600,000","297,376,000,000"
11,"Dec 15, 2017",16601.30,18154.10,16601.30,17706.90,"14,310,000,000","277,936,000,000"
12,"Dec 14, 2017",16384.60,17085.80,16185.90,16564.00,"13,777,400,000","274,269,000,000"
13,"Dec 13, 2017",17500.00,17653.10,16039.70,16408.20,"12,976,900,000","292,900,000,000"
14,"Dec 12, 2017",16919.80,17781.80,16571.60,17415.40,"14,603,800,000","283,155,000,000"
15,"Dec 11, 2017",15427.40,17513.90,15404.80,16936.80,"12,153,900,000","258,147,000,000"
16,"Dec 10, 2017",15168.40,15850.60,13226.60,15455.40,"13,433,300,000","253,782,000,000"
17,"Dec 09, 2017",16523.30,16783.00,13674.90,15178.20,"13,911,300,000","276,415,000,000"
18,"Dec 08, 2017",17802.90,18353.40,14336.90,16569.40,"21,136,000,000","297,787,000,000"
19,"Dec 07, 2017",14266.10,17899.70,14057.30,17899.70,"17,950,700,000","238,600,000,000"
20,"Dec 06, 2017",11923.40,14369.10,11923.40,14291.50,"12,656,300,000","199,390,000,000"
21,"Dec 05, 2017",11685.70,12032.00,11604.60,11916.70,"6,895,260,000","195,389,000,000"
22,"Dec 04, 2017",11315.40,11657.20,11081.80,11657.20,"6,132,410,000","189,172,000,000"
23,"Dec 03, 2017",11082.70,11858.70,10862.00,11323.20,"6,608,310,000","185,258,000,000"
24,"Dec 02, 2017",10978.30,11320.20,10905.10,11074.60,"5,138,500,000","183,490,000,000"
25,"Dec 01, 2017",10198.60,11046.70,9694.65,10975.60,"6,783,120,000","170,436,000,000"
26,"Nov 30, 2017",9906.79,10801.00,9202.05,10233.60,"8,310,690,000","165,537,000,000"
27,"Nov 29, 2017",10077.40,11517.40,9601.03,9888.61,"11,568,800,000","168,367,000,000"
28,"Nov 28, 2017",9823.43,10125.70,9736.30,10058.80,"6,348,820,000","164,104,000,000"
29,"Nov 27, 2017",9352.72,9818.35,9352.72,9818.35,"5,653,320,000","156,221,000,000"
...,...,...,...,...,...,...,...
108,"Sep 09, 2017",0.000166,0.000180,0.000136,0.000172,"11,563","2,689,910"
109,"Sep 08, 2017",0.000186,0.000186,0.000141,0.000166,"9,175","3,006,300"
110,"Sep 07, 2017",0.000187,0.000210,0.000139,0.000186,"9,944","3,030,630"
111,"Sep 06, 2017",0.000154,0.000200,0.000148,0.000187,"8,373","2,496,620"
112,"Sep 05, 2017",0.000171,0.000229,0.000114,0.000156,"21,446","2,766,880"
113,"Sep 04, 2017",0.000139,0.000183,0.000126,0.000172,"17,997","2,251,860"
114,"Sep 03, 2017",0.000184,0.000189,0.000136,0.000139,"3,459","2,980,470"
115,"Sep 02, 2017",0.000149,0.000185,0.000092,0.000184,"12,563","2,403,100"
116,"Sep 01, 2017",0.000190,0.000199,0.000099,0.000148,"7,118","3,066,820"
117,"Aug 31, 2017",0.000183,0.000191,0.000143,0.000190,"59,607","2,962,370"
118,"Aug 30, 2017",0.000184,0.000186,0.000135,0.000183,"26,210","2,972,570"
119,"Aug 29, 2017",0.000140,0.000185,0.000133,0.000184,"12,541","2,268,800"
120,"Aug 28, 2017",0.000173,0.000179,0.000127,0.000140,"4,010","2,797,170"
121,"Aug 27, 2017",0.000131,0.000176,0.000130,0.000131,"8,044","2,111,940"
122,"Aug 26, 2017",0.000174,0.000175,0.000129,0.000174,"24,584","2,819,210"
123,"Aug 25, 2017",0.000214,0.000217,0.000134,0.000174,"5,801","3,462,770"
124,"Aug 24, 2017",0.000166,0.000216,0.000138,0.000214,"7,248","2,680,030"
125,"Aug 23, 2017",0.000163,0.000203,0.000123,0.000165,"11,487","2,637,870"
126,"Aug 22, 2017",0.000157,0.000165,0.000117,0.000163,"6,335","2,546,070"
127,"Aug 21, 2017",0.000166,0.000167,0.000115,0.000157,"12,465","2,685,990"
128,"Aug 20, 2017",0.000207,0.000208,0.000133,0.000167,"9,565","3,352,990"
129,"Aug 19, 2017",0.000165,0.000209,0.000124,0.000208,"25,437","2,665,550"
130,"Aug 18, 2017",0.000173,0.000218,0.000120,0.000165,"16,667","2,794,510"
131,"Aug 17, 2017",0.000219,0.000269,0.000170,0.000173,"17,735","3,549,750"
132,"Aug 16, 2017",0.000166,0.000261,0.000160,0.000220,"30,299","2,690,770"
133,"Aug 15, 2017",0.000216,0.000248,0.000158,0.000166,"16,103","3,502,080"
134,"Aug 14, 2017",0.000164,0.000216,0.000161,0.000216,"25,410","2,658,240"
135,"Aug 13, 2017",0.000234,0.000276,0.000161,0.000165,"24,832","3,781,050"
136,"Aug 12, 2017",0.000475,0.000479,0.000229,0.000234,"77,384","7,677,650"
137,"Aug 11, 2017",0.000307,0.001011,0.000250,0.000475,"228,296","4,964,020"

In [72]:
page = requests.get('https://coinmarketcap.com/currencies/Bitcoin/historical-data/?start=20170101&end=20171227')
page

In [73]:
tree = html.fromstring(page.content)
tree

In [74]:
dates = tree.xpath('//td[@class = "text-left"]/text()')
dates

['Dec 26, 2017',
 'Dec 25, 2017',
 'Dec 24, 2017',
 'Dec 23, 2017',
 'Dec 22, 2017',
 'Dec 21, 2017',
 'Dec 20, 2017',
 'Dec 19, 2017',
 'Dec 18, 2017',
 'Dec 17, 2017',
 'Dec 16, 2017',
 'Dec 15, 2017',
 'Dec 14, 2017',
 'Dec 13, 2017',
 'Dec 12, 2017',
 'Dec 11, 2017',
 'Dec 10, 2017',
 'Dec 09, 2017',
 'Dec 08, 2017',
 'Dec 07, 2017',
 'Dec 06, 2017',
 'Dec 05, 2017',
 'Dec 04, 2017',
 'Dec 03, 2017',
 'Dec 02, 2017',
 'Dec 01, 2017',
 'Nov 30, 2017',
 'Nov 29, 2017',
 'Nov 28, 2017',
 'Nov 27, 2017',
 'Nov 26, 2017',
 'Nov 25, 2017',
 'Nov 24, 2017',
 'Nov 23, 2017',
 'Nov 22, 2017',
 'Nov 21, 2017',
 'Nov 20, 2017',
 'Nov 19, 2017',
 'Nov 18, 2017',
 'Nov 17, 2017',
 'Nov 16, 2017',
 'Nov 15, 2017',
 'Nov 14, 2017',
 'Nov 13, 2017',
 'Nov 12, 2017',
 'Nov 11, 2017',
 'Nov 10, 2017',
 'Nov 09, 2017',
 'Nov 08, 2017',
 'Nov 07, 2017',
 'Nov 06, 2017',
 'Nov 05, 2017',
 'Nov 04, 2017',
 'Nov 03, 2017',
 'Nov 02, 2017',
 'Nov 01, 2017',
 'Oct 31, 2017',
 'Oct 30, 2017',
 'Oct 29, 2017',
 'Oct 28, 2017',
 'Oct 27, 2017',
 'Oct 26, 2017',
 'Oct 25, 2017',
 'Oct 24, 2017',
 'Oct 23, 2017',
 'Oct 22, 2017',
 'Oct 21, 2017',
 'Oct 20, 2017',
 'Oct 19, 2017',
 'Oct 18, 2017',
 'Oct 17, 2017',
 'Oct 16, 2017',
 'Oct 15, 2017',
 'Oct 14, 2017',
 'Oct 13, 2017',
 'Oct 12, 2017',
 'Oct 11, 2017',
 'Oct 10, 2017',
 'Oct 09, 2017',
 'Oct 08, 2017',
 'Oct 07, 2017',
 'Oct 06, 2017',
 'Oct 05, 2017',
 'Oct 04, 2017',
 'Oct 03, 2017',
 'Oct 02, 2017',
 'Oct 01, 2017',
 'Sep 30, 2017',
 'Sep 29, 2017',
 'Sep 28, 2017',
 'Sep 27, 2017',
 'Sep 26, 2017',
 'Sep 25, 2017',
 'Sep 24, 2017',
 'Sep 23, 2017',
 'Sep 22, 2017',
 'Sep 21, 2017',
 'Sep 20, 2017',
 'Sep 19, 2017',
 'Sep 18, 2017',
 'Sep 17, 2017',
 'Sep 16, 2017',
 'Sep 15, 2017',
 'Sep 14, 2017',
 'Sep 13, 2017',
 'Sep 12, 2017',
 'Sep 11, 2017',
 'Sep 10, 2017',
 'Sep 09, 2017',
 'Sep 08, 2017',
 'Sep 07, 2017',
 'Sep 06, 2017',
 'Sep 05, 2017',
 'Sep 04, 2017',
 'Sep 03, 2017',
 'Sep 02, 2017',
 'Sep 01, 2017',
 'Aug 31, 2017',
 'Aug 30, 2017',
 'Aug 29, 2017',
 'Aug 28, 2017',
 'Aug 27, 2017',
 'Aug 26, 2017',
 'Aug 25, 2017',
 'Aug 24, 2017',
 'Aug 23, 2017',
 'Aug 22, 2017',
 'Aug 21, 2017',
 'Aug 20, 2017',
 'Aug 19, 2017',
 'Aug 18, 2017',
 'Aug 17, 2017',
 'Aug 16, 2017',
 'Aug 15, 2017',
 'Aug 14, 2017',
 'Aug 13, 2017',
 'Aug 12, 2017',
 'Aug 11, 2017',
 'Aug 10, 2017',
 'Aug 09, 2017',
 'Aug 08, 2017',
 'Aug 07, 2017',
 'Aug 06, 2017',
 'Aug 05, 2017',
 'Aug 04, 2017',
 'Aug 03, 2017',
 'Aug 02, 2017',
 'Aug 01, 2017',
 'Jul 31, 2017',
 'Jul 30, 2017',
 'Jul 29, 2017',
 'Jul 28, 2017',
 'Jul 27, 2017',
 'Jul 26, 2017',
 'Jul 25, 2017',
 'Jul 24, 2017',
 'Jul 23, 2017',
 'Jul 22, 2017',
 'Jul 21, 2017',
 'Jul 20, 2017',
 'Jul 19, 2017',
 'Jul 18, 2017',
 'Jul 17, 2017',
 'Jul 16, 2017',
 'Jul 15, 2017',
 'Jul 14, 2017',
 'Jul 13, 2017',
 'Jul 12, 2017',
 'Jul 11, 2017',
 'Jul 10, 2017',
 'Jul 09, 2017',
 'Jul 08, 2017',
 'Jul 07, 2017',
 'Jul 06, 2017',
 'Jul 05, 2017',
 'Jul 04, 2017',
 'Jul 03, 2017',
 'Jul 02, 2017',
 'Jul 01, 2017',
 'Jun 30, 2017',
 'Jun 29, 2017',
 'Jun 28, 2017',
 'Jun 27, 2017',
 'Jun 26, 2017',
 'Jun 25, 2017',
 'Jun 24, 2017',
 'Jun 23, 2017',
 'Jun 22, 2017',
 'Jun 21, 2017',
 'Jun 20, 2017',
 'Jun 19, 2017',
 'Jun 18, 2017',
 'Jun 17, 2017',
 'Jun 16, 2017',
 'Jun 15, 2017',
 'Jun 14, 2017',
 'Jun 13, 2017',
 'Jun 12, 2017',
 'Jun 11, 2017',
 'Jun 10, 2017',
 'Jun 09, 2017',
 'Jun 08, 2017',
 'Jun 07, 2017',
 'Jun 06, 2017',
 'Jun 05, 2017',
 'Jun 04, 2017',
 'Jun 03, 2017',
 'Jun 02, 2017',
 'Jun 01, 2017',
 'May 31, 2017',
 'May 30, 2017',
 'May 29, 2017',
 'May 28, 2017',
 'May 27, 2017',
 'May 26, 2017',
 'May 25, 2017',
 'May 24, 2017',
 'May 23, 2017',
 'May 22, 2017',
 'May 21, 2017',
 'May 20, 2017',
 'May 19, 2017',
 'May 18, 2017',
 'May 17, 2017',
 'May 16, 2017',
 'May 15, 2017',
 'May 14, 2017',
 'May 13, 2017',
 'May 12, 2017',
 'May 11, 2017',
 'May 10, 2017',
 'May 09, 2017',
 'May 08, 2017',
 'May 07, 2017',
 'May 06, 2017',
 'May 05, 2017',
 'May 04, 2017',
 'May 03, 2017',
 'May 02, 2017',
 'May 01, 2017',
 'Apr 30, 2017',
 'Apr 29, 2017',
 'Apr 28, 2017',
 'Apr 27, 2017',
 'Apr 26, 2017',
 'Apr 25, 2017',
 'Apr 24, 2017',
 'Apr 23, 2017',
 'Apr 22, 2017',
 'Apr 21, 2017',
 'Apr 20, 2017',
 'Apr 19, 2017',
 'Apr 18, 2017',
 'Apr 17, 2017',
 'Apr 16, 2017',
 'Apr 15, 2017',
 'Apr 14, 2017',
 'Apr 13, 2017',
 'Apr 12, 2017',
 'Apr 11, 2017',
 'Apr 10, 2017',
 'Apr 09, 2017',
 'Apr 08, 2017',
 'Apr 07, 2017',
 'Apr 06, 2017',
 'Apr 05, 2017',
 'Apr 04, 2017',
 'Apr 03, 2017',
 'Apr 02, 2017',
 'Apr 01, 2017',
 'Mar 31, 2017',
 'Mar 30, 2017',
 'Mar 29, 2017',
 'Mar 28, 2017',
 'Mar 27, 2017',
 'Mar 26, 2017',
 'Mar 25, 2017',
 'Mar 24, 2017',
 'Mar 23, 2017',
 'Mar 22, 2017',
 'Mar 21, 2017',
 'Mar 20, 2017',
 'Mar 19, 2017',
 'Mar 18, 2017',
 'Mar 17, 2017',
 'Mar 16, 2017',
 'Mar 15, 2017',
 'Mar 14, 2017',
 'Mar 13, 2017',
 'Mar 12, 2017',
 'Mar 11, 2017',
 'Mar 10, 2017',
 'Mar 09, 2017',
 'Mar 08, 2017',
 'Mar 07, 2017',
 'Mar 06, 2017',
 'Mar 05, 2017',
 'Mar 04, 2017',
 'Mar 03, 2017',
 'Mar 02, 2017',
 'Mar 01, 2017',
 'Feb 28, 2017',
 'Feb 27, 2017',
 'Feb 26, 2017',
 'Feb 25, 2017',
 'Feb 24, 2017',
 'Feb 23, 2017',
 'Feb 22, 2017',
 'Feb 21, 2017',
 'Feb 20, 2017',
 'Feb 19, 2017',
 'Feb 18, 2017',
 'Feb 17, 2017',
 'Feb 16, 2017',
 'Feb 15, 2017',
 'Feb 14, 2017',
 'Feb 13, 2017',
 'Feb 12, 2017',
 'Feb 11, 2017',
 'Feb 10, 2017',
 'Feb 09, 2017',
 'Feb 08, 2017',
 'Feb 07, 2017',
 'Feb 06, 2017',
 'Feb 05, 2017',
 'Feb 04, 2017',
 'Feb 03, 2017',
 'Feb 02, 2017',
 'Feb 01, 2017',
 'Jan 31, 2017',
 'Jan 30, 2017',
 'Jan 29, 2017',
 'Jan 28, 2017',
 'Jan 27, 2017',
 'Jan 26, 2017',
 'Jan 25, 2017',
 'Jan 24, 2017',
 'Jan 23, 2017',
 'Jan 22, 2017',
 'Jan 21, 2017',
 'Jan 20, 2017',
 'Jan 19, 2017',
 'Jan 18, 2017',
 'Jan 17, 2017',
 'Jan 16, 2017',
 'Jan 15, 2017',
 'Jan 14, 2017',
 'Jan 13, 2017',
 'Jan 12, 2017',
 'Jan 11, 2017',
 'Jan 10, 2017',
 'Jan 09, 2017',
 'Jan 08, 2017',
 'Jan 07, 2017',
 'Jan 06, 2017',
 'Jan 05, 2017',
 'Jan 04, 2017',
 'Jan 03, 2017',
 'Jan 02, 2017',
 'Jan 01, 2017']

In [75]:
detail = tree.xpath('//td/text()')
detail

['Dec 26, 2017',
 '14036.60',
 '16461.20',
 '14028.90',
 '16099.80',
 '13,454,300,000',
 '235,294,000,000',
 'Dec 25, 2017',
 '13995.90',
 '14593.00',
 '13448.90',
 '14026.60',
 '10,664,700,000',
 '234,590,000,000',
 'Dec 24, 2017',
 '14608.20',
 '14626.00',
 '12747.70',
 '13925.80',
 '11,572,300,000',
 '244,824,000,000',
 'Dec 23, 2017',
 '13948.70',
 '15603.20',
 '13828.80',
 '14699.20',
 '13,086,000,000',
 '233,748,000,000',
 'Dec 22, 2017',
 '15898.00',
 '15943.40',
 '11833.00',
 '13831.80',
 '22,198,000,000',
 '266,381,000,000',
 'Dec 21, 2017',
 '16642.40',
 '17567.70',
 '15342.70',
 '15802.90',
 '16,516,600,000',
 '278,827,000,000',
 'Dec 20, 2017',
 '17760.30',
 '17934.70',
 '16077.70',
 '16624.60',
 '22,149,700,000',
 '297,526,000,000',
 'Dec 19, 2017',
 '19118.30',
 '19177.80',
 '17275.40',
 '17776.70',
 '16,894,500,000',
 '320,242,000,000',
 'Dec 18, 2017',
 '19106.40',
 '19371.00',
 '18355.90',
 '19114.20',
 '14,839,500,000',
 '320,000,000,000',
 'Dec 17, 2017',
 '19475.80',
 '20089.00',
 '18974.10',
 '19140.80',
 '13,314,600,000',
 '326,141,000,000',
 'Dec 16, 2017',
 '17760.30',
 '19716.70',
 '17515.30',
 '19497.40',
 '12,740,600,000',
 '297,376,000,000',
 'Dec 15, 2017',
 '16601.30',
 '18154.10',
 '16601.30',
 '17706.90',
 '14,310,000,000',
 '277,936,000,000',
 'Dec 14, 2017',
 '16384.60',
 '17085.80',
 '16185.90',
 '16564.00',
 '13,777,400,000',
 '274,269,000,000',
 'Dec 13, 2017',
 '17500.00',
 '17653.10',
 '16039.70',
 '16408.20',
 '12,976,900,000',
 '292,900,000,000',
 'Dec 12, 2017',
 '16919.80',
 '17781.80',
 '16571.60',
 '17415.40',
 '14,603,800,000',
 '283,155,000,000',
 'Dec 11, 2017',
 '15427.40',
 '17513.90',
 '15404.80',
 '16936.80',
 '12,153,900,000',
 '258,147,000,000',
 'Dec 10, 2017',
 '15168.40',
 '15850.60',
 '13226.60',
 '15455.40',
 '13,433,300,000',
 '253,782,000,000',
 'Dec 09, 2017',
 '16523.30',
 '16783.00',
 '13674.90',
 '15178.20',
 '13,911,300,000',
 '276,415,000,000',
 'Dec 08, 2017',
 '17802.90',
 '18353.40',
 '14336.90',
 '16569.40',
 '21,136,000,000',
 '297,787,000,000',
 'Dec 07, 2017',
 '14266.10',
 '17899.70',
 '14057.30',
 '17899.70',
 '17,950,700,000',
 '238,600,000,000',
 'Dec 06, 2017',
 '11923.40',
 '14369.10',
 '11923.40',
 '14291.50',
 '12,656,300,000',
 '199,390,000,000',
 'Dec 05, 2017',
 '11685.70',
 '12032.00',
 '11604.60',
 '11916.70',
 '6,895,260,000',
 '195,389,000,000',
 'Dec 04, 2017',
 '11315.40',
 '11657.20',
 '11081.80',
 '11657.20',
 '6,132,410,000',
 '189,172,000,000',
 'Dec 03, 2017',
 '11082.70',
 '11858.70',
 '10862.00',
 '11323.20',
 '6,608,310,000',
 '185,258,000,000',
 'Dec 02, 2017',
 '10978.30',
 '11320.20',
 '10905.10',
 '11074.60',
 '5,138,500,000',
 '183,490,000,000',
 'Dec 01, 2017',
 '10198.60',
 '11046.70',
 '9694.65',
 '10975.60',
 '6,783,120,000',
 '170,436,000,000',
 'Nov 30, 2017',
 '9906.79',
 '10801.00',
 '9202.05',
 '10233.60',
 '8,310,690,000',
 '165,537,000,000',
 'Nov 29, 2017',
 '10077.40',
 '11517.40',
 '9601.03',
 '9888.61',
 '11,568,800,000',
 '168,367,000,000',
 'Nov 28, 2017',
 '9823.43',
 '10125.70',
 '9736.30',
 '10058.80',
 '6,348,820,000',
 '164,104,000,000',
 'Nov 27, 2017',
 '9352.72',
 '9818.35',
 '9352.72',
 '9818.35',
 '5,653,320,000',
 '156,221,000,000',
 'Nov 26, 2017',
 '8789.04',
 '9522.93',
 '8775.59',
 '9330.55',
 '5,475,580,000',
 '146,789,000,000',
 'Nov 25, 2017',
 '8241.71',
 '8790.92',
 '8191.15',
 '8790.92',
 '4,342,060,000',
 '137,632,000,000',
 'Nov 24, 2017',
 '8074.02',
 '8374.16',
 '7940.93',
 '8253.69',
 '5,058,610,000',
 '134,816,000,000',
 'Nov 23, 2017',
 '8232.38',
 '8267.40',
 '8038.77',
 '8038.77',
 '4,225,180,000',
 '137,444,000,000',
 'Nov 22, 2017',
 '8077.95',
 '8302.26',
 '8075.47',
 '8253.55',
 '3,633,530,000',
 '134,851,000,000',
 'Nov 21, 2017',
 '8205.74',
 '8348.66',
 '7762.71',
 '8071.26',
 '4,277,610,000',
 '136,967,000,000',
 'Nov 20, 2017',
 '8039.07',
 '8336.86',
 '7949.36',
 '8200.64',
 '3,488,450,000',
 '134,167,000,000',
 'Nov 19, 2017',
 '7766.03',
 '8101.91',
 '7694.10',
 '8036.49',
 '3,149,320,000',
 '129,595,000,000',
 'Nov 18, 2017',
 '7697.21',
 '7884.99',
 '7463.44',
 '7790.15',
 '3,667,190,000',
 '128,425,000,000',
 'Nov 17, 2017',
 '7853.57',
 '8004.59',
 '7561.09',
 '7708.99',
 '4,651,670,000',
 '131,026,000,000',
 'Nov 16, 2017',
 '7323.24',
 '7967.38',
 '7176.58',
 '7871.69',
 '5,123,810,000',
 '122,164,000,000',
 'Nov 15, 2017',
 '6634.76',
 '7342.25',
 '6634.76',
 '7315.54',
 '4,200,880,000',
 '110,667,000,000',
 'Nov 14, 2017',
 '6561.48',
 '6764.98',
 '6461.75',
 '6635.75',
 '3,197,110,000',
 '109,434,000,000',
 'Nov 13, 2017',
 '5938.25',
 '6811.19',
 '5844.29',
 '6559.49',
 '6,263,250,000',
 '99,029,000,000',
 'Nov 12, 2017',
 '6295.45',
 '6625.05',
 '5519.01',
 '5950.07',
 '8,957,350,000',
 '104,980,000,000',
 'Nov 11, 2017',
 '6618.61',
 '6873.15',
 '6204.22',
 '6357.60',
 '4,908,680,000',
 '110,362,000,000',
 'Nov 10, 2017',
 '7173.73',
 '7312.00',
 '6436.87',
 '6618.14',
 '5,208,250,000',
 '119,607,000,000',
 'Nov 09, 2017',
 '7446.83',
 '7446.83',
 '7101.52',
 '7143.58',
 '3,226,250,000',
 '124,146,000,000',
 'Nov 08, 2017',
 '7141.38',
 '7776.42',
 '7114.02',
 '7459.69',
 '4,602,200,000',
 '119,041,000,000',
 'Nov 07, 2017',
 '7023.10',
 '7253.32',
 '7023.10',
 '7144.38',
 '2,326,340,000',
 '117,056,000,000',
 'Nov 06, 2017',
 '7403.22',
 '7445.77',
 '7007.31',
 '7022.76',
 '3,111,900,000',
 '123,379,000,000',
 'Nov 05, 2017',
 '7404.52',
 '7617.48',
 '7333.19',
 '7407.41',
 '2,380,410,000',
 '123,388,000,000',
 'Nov 04, 2017',
 '7164.48',
 '7492.86',
 '7031.28',
 '7379.95',
 '2,483,800,000',
 '119,376,000,000',
 'Nov 03, 2017',
 '7087.53',
 '7461.29',
 '7002.94',
 '7207.76',
 '3,369,860,000',
 '118,084,000,000',
 'Nov 02, 2017',
 '6777.77',
 '7367.33',
 '6758.72',
 '7078.50',
 '4,653,770,000',
 '112,910,000,000',
 'Nov 01, 2017',
 '6440.97',
 '6767.31',
 '6377.88',
 '6767.31',
 '2,870,320,000',
 '107,287,000,000',
 'Oct 31, 2017',
 '6132.02',
 '6470.43',
 '6103.33',
 '6468.40',
 '2,311,380,000',
 '102,130,000,000',
 'Oct 30, 2017',
 '6114.85',
 '6214.99',
 '6040.85',
 '6130.53',
 '1,772,150,000',
 '101,833,000,000',
 'Oct 29, 2017',
 '5754.44',
 '6255.71',
 '5724.58',
 '6153.85',
 '2,859,040,000',
 '95,819,800,000',
 'Oct 28, 2017',
 '5787.82',
 '5876.72',
 '5689.19',
 '5753.09',
 '1,403,920,000',
 '96,369,600,000',
 'Oct 27, 2017',
 '5899.74',
 '5988.39',
 '5728.82',
 '5780.90',
 '1,710,130,000',
 '98,225,400,000',
 'Oct 26, 2017',
 '5747.95',
 '5976.80',
 '5721.22',
 '5904.83',
 '1,905,040,000',
 '95,685,100,000',
 'Oct 25, 2017',
 '5524.60',
 '5754.33',
 '5397.88',
 '5750.80',
 '1,966,990,000',
 '91,954,200,000',
 'Oct 24, 2017',
 '5935.52',
 '5935.52',
 '5504.18',
 '5526.64',
 '2,735,700,000',
 '98,781,600,000',
 'Oct 23, 2017',
 '6006.00',
 '6075.59',
 '5732.47',
 '5930.32',
 '2,401,840,000',
 '99,941,600,000',
 'Oct 22, 2017',
 '6036.66',
 '6076.26',
 '5792.34',
 '6008.42',
 '2,034,630,000',
 '100,438,000,000',
 'Oct 21, 2017',
 '5996.79',
 '6194.88',
 '5965.07',
 '6031.60',
 '2,207,100,000',
 '99,763,200,000',
 'Oct 20, 2017',
 '5708.11',
 '6060.11',
 '5627.23',
 '6011.45',
 '2,354,430,000',
 '94,947,900,000',
 'Oct 19, 2017',
 '5583.74',
 '5744.35',
 '5531.06',
 '5708.52',
 '1,780,540,000',
 '92,867,000,000',
 'Oct 18, 2017',
 '5603.82',
 '5603.82',
 '5151.44',
 '5590.69',
 '2,399,270,000',
 '93,190,200,000',
 'Oct 17, 2017',
 '5741.58',
 '5800.35',
 '5472.72',
 '5605.51',
 '1,821,570,000',
 '95,469,300,000',
 'Oct 16, 2017',
 '5687.57',
 '5776.23',
 '5544.21',
 '5725.59',
 '2,008,070,000',
 '94,559,000,000',
 'Oct 15, 2017',
 '5835.96',
 '5852.48',
 '5478.61',
 '5678.19',
 '1,976,040,000',
 '97,011,900,000',
 'Oct 14, 2017',
 '5643.53',
 '5837.70',
 '5591.64',
 '5831.79',
 '1,669,030,000',
 '93,803,000,000',
 'Oct 13, 2017',
 '5464.16',
 '5840.30',
 '5436.85',
 '5647.21',
 '3,615,480,000',
 '90,812,400,000',
 'Oct 12, 2017',
 '4829.58',
 '5446.91',
 '4822.00',
 '5446.91',
 '2,791,610,000',
 '80,256,700,000',
 'Oct 11, 2017',
 '4789.25',
 '4873.73',
 '4751.63',
 '4826.48',
 '1,222,280,000',
 '79,578,200,000',
 'Oct 10, 2017',
 '4776.21',
 '4922.17',
 '4765.10',
 '4781.99',
 '1,597,140,000',
 '79,351,800,000',
 'Oct 09, 2017',
 '4614.52',
 '4878.71',
 '4564.25',
 '4772.02',
 '1,968,740,000',
 '76,656,500,000',
 'Oct 08, 2017',
 '4429.67',
 '4624.14',
 '4405.64',
 '4610.48',
 '1,313,870,000',
 '73,575,400,000',
 'Oct 07, 2017',
 '4369.35',
 '4443.88',
 '4321.05',
 '4426.89',
 '906,928,000',
 '72,565,100,000',
 'Oct 06, 2017',
 '4324.46',
 '4413.27',
 '4320.53',
 '4370.81',
 '1,069,940,000',
 '71,810,600,000',
 'Oct 05, 2017',
 '4229.88',
 '4362.64',
 '4164.05',
 '4328.41',
 '1,161,770,000',
 '70,233,700,000',
 'Oct 04, 2017',
 '4319.37',
 '4352.31',
 '4210.42',
 '4229.36',
 '1,116,770,000',
 '71,712,500,000',
 'Oct 03, 2017',
 '4408.46',
 '4432.47',
 '4258.89',
 '4317.48',
 '1,288,020,000',
 '73,181,300,000',
 'Oct 02, 2017',
 '4395.81',
 '4470.23',
 '4377.46',
 '4409.32',
 '1,431,730,000',
 '72,963,200,000',
 'Oct 01, 2017',
 '4341.05',
 '4403.74',
 '4269.81',
 '4403.74',
 '1,208,210,000',
 '72,047,300,000',
 'Sep 30, 2017',
 '4166.11',
 '4358.43',
 '4160.86',
 '4338.71',
 '1,207,450,000',
 '69,136,600,000',
 'Sep 29, 2017',
 '4171.62',
 '4214.63',
 '4039.29',
 '4163.07',
 '1,367,050,000',
 '69,219,200,000',
 'Sep 28, 2017',
 '4197.13',
 '4279.31',
 '4109.70',
 '4174.73',
 '1,712,320,000',
 '69,633,200,000',
 'Sep 27, 2017',
 '3892.94',
 '4210.05',
 '3884.82',
 '4200.67',
 '1,686,880,000',
 '64,579,200,000',
 'Sep 26, 2017',
 '3928.41',
 '3969.89',
 '3869.90',
 '3892.35',
 '1,043,740,000',
 '65,161,000,000',
 'Sep 25, 2017',
 '3681.58',
 '3950.25',
 '3681.58',
 '3926.07',
 '1,374,210,000',
 '61,061,100,000',
 'Sep 24, 2017',
 '3796.15',
 '3796.15',
 '3666.90',
 '3682.84',
 '768,015,000',
 '62,954,300,000',
 'Sep 23, 2017',
 '3629.92',
 '3819.21',
 '3594.58',
 '3792.40',
 '928,114,000',
 '60,190,000,000',
 'Sep 22, 2017',
 '3628.02',
 '3758.27',
 '3553.53',
 '3630.70',
 '1,194,830,000',
 '60,152,300,000',
 'Sep 21, 2017',
 '3901.47',
 '3916.42',
 '3613.63',
 '3631.04',
 '1,411,480,000',
 '64,677,600,000',
 'Sep 20, 2017',
 '3916.36',
 '4031.39',
 '3857.73',
 '3905.95',
 '1,213,830,000',
 '64,918,500,000',
 'Sep 19, 2017',
 '4073.79',
 '4094.07',
 '3868.87',
 '3924.97',
 '1,563,980,000',
 '67,520,300,000',
 'Sep 18, 2017',
 '3591.09',
 '4079.23',
 '3591.09',
 '4065.20',
 '1,943,210,000',
 '59,514,100,000',
 'Sep 17, 2017',
 '3606.28',
 '3664.81',
 '3445.64',
 '3582.88',
 '1,239,150,000',
 '59,757,800,000',
 'Sep 16, 2017',
 '3637.75',
 '3808.84',
 '3487.79',
 '3625.04',
 '1,818,400,000',
 '60,271,600,000',
 'Sep 15, 2017',
 '3166.30',
 '3733.45',
 '2946.62',
 '3637.52',
 '4,148,070,000',
 '52,453,500,000',
 'Sep 14, 2017',
 '3875.37',
 '3920.60',
 '3153.86',
 '3154.95',
 '2,716,310,000',
 '64,191,600,000',
 'Sep 13, 2017',
 '4131.98',
 '4131.98',
 '3789.92',
 '3882.59',
 '2,219,410,000',
 '68,432,200,000',
 'Sep 12, 2017',
 '4168.88',
 '4344.65',
 '4085.22',
 '4130.81',
 '1,864,530,000',
 '69,033,400,000',
 'Sep 11, 2017',
 '4122.47',
 '4261.67',
 '4099.40',
 '4161.27',
 '1,557,330,000',
 '68,256,000,000',
 'Sep 10, 2017',
 '4229.34',
 '4245.44',
 '3951.04',
 '4122.94',
 '1,679,090,000',
 '70,018,100,000',
 'Sep 09, 2017',
 '4229.81',
 '4308.82',
 '4114.11',
 '4226.06',
 '1,386,230,000',
 '70,017,200,000',
 'Sep 08, 2017',
 '4605.16',
 '4661.00',
 '4075.18',
 '4228.75',
 '2,700,890,000',
 '76,220,200,000',
 'Sep 07, 2017',
 '4589.14',
 '4655.04',
 '4491.33',
 '4599.88',
 '1,844,620,000',
 '75,945,000,000',
 'Sep 06, 2017',
 '4376.59',
 '4617.25',
 '4376.59',
 '4597.12',
 '2,172,100,000',
 '72,418,700,000',
 'Sep 05, 2017',
 '4228.29',
 '4427.84',
 '3998.11',
 '4376.53',
 '2,697,970,000',
 '69,954,400,000',
 'Sep 04, 2017',
 '4591.63',
 '4591.63',
 '4108.40',
 '4236.31',
 '2,987,330,000',
 '75,955,500,000',
 'Sep 03, 2017',
 '4585.27',
 '4714.08',
 '4417.59',
 '4582.96',
 '1,933,190,000',
 '75,841,700,000',
 'Sep 02, 2017',
 '4901.42',
 '4975.04',
 '4469.24',
 '4578.77',
 '2,722,140,000',
 '81,060,600,000',
 'Sep 01, 2017',
 '4701.76',
 '4892.01',
 '4678.53',
 '4892.01',
 '2,599,080,000',
 '77,748,400,000',
 'Aug 31, 2017',
 '4555.59',
 '4736.05',
 '4549.40',
 '4703.39',
 '1,944,930,000',
 '75,322,300,000',
 'Aug 30, 2017',
 '4570.36',
 '4626.52',
 '4471.41',
 '4565.30',
 '1,937,850,000',
 '75,556,600,000',
 'Aug 29, 2017',
 '4389.21',
 '4625.68',
 '4352.13',
 '4579.02',
 '2,486,080,000',
 '72,553,800,000',
 'Aug 28, 2017',
 '4384.45',
 '4403.93',
 '4224.64',
 '4382.66',
 '1,959,330,000',
 '72,467,900,000',
 'Aug 27, 2017',
 '4345.10',
 '4416.59',
 '4317.29',
 '4382.88',
 '1,537,460,000',
 '71,809,200,000',
 'Aug 26, 2017',
 '4372.06',
 '4379.28',
 '4269.52',
 '4352.40',
 '1,511,610,000',
 '72,249,100,000',
 'Aug 25, 2017',
 '4332.82',
 '4455.70',
 '4307.35',
 '4371.60',
 '1,727,970,000',
 '71,595,100,000',
 'Aug 24, 2017',
 '4137.60',
 '4376.39',
 '4130.26',
 '4334.68',
 '2,037,750,000',
 '68,363,900,000',
 'Aug 23, 2017',
 '4089.01',
 '4255.78',
 '4078.41',
 '4151.52',
 '2,369,820,000',
 '67,553,000,000',
 'Aug 22, 2017',
 '3998.35',
 '4128.76',
 '3674.58',
 '4100.52',
 '3,764,240,000',
 '66,051,000,000',
 'Aug 21, 2017',
 '4090.48',
 '4109.14',
 '3988.60',
 '4001.74',
 '2,800,890,000',
 '67,567,100,000',
 'Aug 20, 2017',
 '4189.31',
 '4196.29',
 '4069.88',
 '4087.66',
 '2,109,770,000',
 '69,192,700,000',
 'Aug 19, 2017',
 '4137.75',
 '4243.26',
 '3970.55',
 '4193.70',
 '2,975,820,000',
 '68,333,100,000',
 'Aug 18, 2017',
 '4324.34',
 '4370.13',
 '4015.40',
 '4160.62',
 '2,941,710,000',
 '71,406,500,000',
 'Aug 17, 2017',
 '4384.44',
 '4484.70',
 '4243.71',
 '4331.69',
 '2,553,360,000',
 '72,389,100,000',
 'Aug 16, 2017',
 '4200.34',
 '4381.23',
 '3994.42',
 '4376.63',
 '2,272,040,000',
 '69,342,700,000',
 'Aug 15, 2017',
 '4326.99',
 '4455.97',
 '3906.18',
 '4181.93',
 '3,258,050,000',
 '71,425,500,000',
 'Aug 14, 2017',
 '4066.10',
 '4325.13',
 '3989.16',
 '4325.13',
 '2,463,090,000',
 '67,112,300,000',
 'Aug 13, 2017',
 '3880.04',
 '4208.39',
 '3857.80',
 '4073.26',
 '3,159,090,000',
 '64,034,100,000',
 'Aug 12, 2017',
 '3650.63',
 '3949.92',
 '3613.70',
 '3884.71',
 '2,219,590,000',
 '60,242,100,000',
 'Aug 11, 2017',
 '3373.82',
 '3679.72',
 '3372.12',
 '3650.62',
 '2,021,190,000',
 '55,668,000,000',
 'Aug 10, 2017',
 '3341.84',
 '3453.45',
 '3319.47',
 '3381.28',
 '1,515,110,000',
 '55,134,700,000',
 'Aug 09, 2017',
 '3420.40',
 '3422.76',
 '3247.67',
 '3342.47',
 '1,468,960,000',
 '56,424,900,000',
 'Aug 08, 2017',
 '3370.22',
 '3484.85',
 '3345.83',
 '3419.94',
 '1,752,760,000',
 '55,590,300,000',
 'Aug 07, 2017',
 '3212.78',
 '3397.68',
 '3180.89',
 '3378.94',
 '1,482,280,000',
 '52,987,300,000',
 'Aug 06, 2017',
 '3257.61',
 '3293.29',
 '3155.60',
 '3213.94',
 '1,105,030,000',
 ...]

In [152]:
df.append(pd.DataFrame(np.array(detail).reshape(len(dates), 7)))

C:\Python36\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

,Date,Open,High,Low,Close,Volume,MarketCap,0,1,2,3,4,5,6
0,"Dec 26, 2017",14036.60,16461.20,14028.90,16099.80,"13,454,300,000","235,294,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Dec 25, 2017",13995.90,14593.00,13448.90,14026.60,"10,664,700,000","234,590,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Dec 24, 2017",14608.20,14626.00,12747.70,13925.80,"11,572,300,000","244,824,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Dec 23, 2017",13948.70,15603.20,13828.80,14699.20,"13,086,000,000","233,748,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Dec 22, 2017",15898.00,15943.40,11833.00,13831.80,"22,198,000,000","266,381,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Dec 21, 2017",16642.40,17567.70,15342.70,15802.90,"16,516,600,000","278,827,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Dec 20, 2017",17760.30,17934.70,16077.70,16624.60,"22,149,700,000","297,526,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Dec 19, 2017",19118.30,19177.80,17275.40,17776.70,"16,894,500,000","320,242,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Dec 18, 2017",19106.40,19371.00,18355.90,19114.20,"14,839,500,000","320,000,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Dec 17, 2017",19475.80,20089.00,18974.10,19140.80,"13,314,600,000","326,141,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Dec 16, 2017",17760.30,19716.70,17515.30,19497.40,"12,740,600,000","297,376,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Dec 15, 2017",16601.30,18154.10,16601.30,17706.90,"14,310,000,000","277,936,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"Dec 14, 2017",16384.60,17085.80,16185.90,16564.00,"13,777,400,000","274,269,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Dec 13, 2017",17500.00,17653.10,16039.70,16408.20,"12,976,900,000","292,900,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Dec 12, 2017",16919.80,17781.80,16571.60,17415.40,"14,603,800,000","283,155,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Dec 11, 2017",15427.40,17513.90,15404.80,16936.80,"12,153,900,000","258,147,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Dec 10, 2017",15168.40,15850.60,13226.60,15455.40,"13,433,300,000","253,782,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Dec 09, 2017",16523.30,16783.00,13674.90,15178.20,"13,911,300,000","276,415,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Dec 08, 2017",17802.90,18353.40,14336.90,16569.40,"21,136,000,000","297,787,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"Dec 07, 2017",14266.10,17899.70,14057.30,17899.70,"17,950,700,000","238,600,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Dec 06, 2017",11923.40,14369.10,11923.40,14291.50,"12,656,300,000","199,390,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Dec 05, 2017",11685.70,12032.00,11604.60,11916.70,"6,895,260,000","195,389,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Dec 04, 2017",11315.40,11657.20,11081.80,11657.20,"6,132,410,000","189,172,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"Dec 03, 2017",11082.70,11858.70,10862.00,11323.20,"6,608,310,000","185,258,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Dec 02, 2017",10978.30,11320.20,10905.10,11074.60,"5,138,500,000","183,490,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Dec 01, 2017",10198.60,11046.70,9694.65,10975.60,"6,783,120,000","170,436,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Nov 30, 2017",9906.79,10801.00,9202.05,10233.60,"8,310,690,000","165,537,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Nov 29, 2017",10077.40,11517.40,9601.03,9888.61,"11,568,800,000","168,367,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"Nov 28, 2017",9823.43,10125.70,9736.30,10058.80,"6,348,820,000","164,104,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"Nov 27, 2017",9352.72,9818.35,9352.72,9818.35,"5,653,320,000","156,221,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 04, 2017",2.43,2.91,2.43,2.85,"304,007","7,109,470"
145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 03, 2017",2.37,2.44,2.18,2.43,"306,871","6,928,270"
146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 02, 2017",2.40,2.45,2.30,2.37,"258,061","7,018,420"
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 01, 2017",2.32,2.47,2.26,2.40,"230,750",-
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 31, 2017",2.51,2.51,2.27,2.32,"198,893",-
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 30, 2017",2.51,2.55,2.44,2.51,"214,101",-
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 29, 2017",2.54,2.54,2.44,2.51,"207,953",-
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 28, 2017",2.60,2.67,2.45,2.53,"215,153",-
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 27, 2017",2.51,2.60,2.23,2.52,"53,595",-
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 26, 2017",2.56,2.66,2.37,2.51,"59,517",-
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 25, 2017",2.68,2.71,2.22,2.56,"68,301",-
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 24, 2017",2.57,2.77,2.50,2.68,"50,053",-
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 23, 2017",2.43,2.78,2.22,2.55,"87,052",-
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 22, 2017",2.19,2.51,2.07,2.51,"87,787",-
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 21, 2017",2.18,2.29,2.07,2.19,"61,106",-
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 20, 2017",2.16,2.28,2.07,2.26,"52,171",-
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 19, 2017",2.28,2.30,2.07,2.16,"55,994",-
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 18, 2017",2.11,2.36,1.92,2.29,"56,900",-
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 17, 2017",1.96,2.36,1.90,2.11,"45,349",-
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 16, 2017",1.85,2.36,1.65,2.10,"59,502",-
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 15, 2017",2.80,2.80,1.48,1.95,"80,640",-
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 14, 2017",3.24,3.36,1.97,2.80,"140,144",-
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 13, 2017",2.67,3.54,2.36,3.24,"194,312",-
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 12, 2017",2.16,3.54,1.91,2.67,"170,201",-
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 11, 2017",2.06,2.32,1.65,2.19,"152,548",-
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 10, 2017",2.11,2.20,1.80,1.80,"93,634",-
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 09, 2017",1.81,2.14,1.71,2.11,"67,816",-
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 08, 2017",2.01,2.12,1.47,1.81,"76,060",-
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 07, 2017",1.72,2.01,1.64,2.01,"143,068",-
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 06, 2017",1.78,1.81,1.71,1.72,"121,304",-